/** TODO :: media screen margin-top adjustments*/
.my-container{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-height: fit-content;
    min-height: 100vh;
    text-align: center;
    /* height: 100vh; */
    font-size: 12pt;
    /* background-color: rgb(160, 115, 115); */
    color: black;
}

.outter-about{
    width: 100%;
    background-color: red;
}

.header-text{
    padding-top: 6%;
    margin-bottom: 5%;
    /* padding: 10px; */
    font-size: 35px;
}


.resume-row{
    width: 100%;
    max-height: contain;
    overflow: hidden;
    min-height: 50vh;
    background-color: white;
    padding-bottom: 3.5%;
    border-bottom: 1px solid #E8E8E8;
}
.resume-col{
    background-color: whitesmoke; 
    min-height: 55vh;
    margin: 0px auto;
    max-height:fit-content; 
    padding-top: 3%; 
}
.resume-col.end{
    padding-bottom: 3%; 
}
.resume-row.end{
    border-bottom: 0px solid #E8E8E8;
    padding-bottom: 0%;
}


@media only screen and (max-width: 425px){
    .header-text{
        padding-top: 35%;
        margin-bottom: 10%;
        /* padding: 10px; */
        font-size: 35px;
    }
    .text{
        /* font-size: 15px; */
    }
}


@media screen and (max-width: 768px){

    .col-sm-4 {
        flex: 0 0 50%;
        min-width: 100%;
    }
    .col-sm-8 {
        flex: 0 0 50%;
        min-width: 100%;
    }
} 
