/** TODO :: media screen margin-top adjustments*/
.my-container{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    text-align: center;
    font-size: 12pt;
    /* margin-top: -30px; */
    color: black;
}

.outter-about{
    width: 100%;
    /* padding: 30px; */
    /* background-color: red; */
}

.header-text{
    color: whitesmoke;
    /* padding-top: 25px; */
    /* padding-top: 6%; */
    /* margin-bottom: 5%; */
    /* padding: 10px; */
    font-size: 35px;

}

.text{
    color: rgb(216, 215, 215);
    text-align: left;
    margin-bottom: 25px;
    font-size: 18px;
}
.me-text{
    color: rgb(183, 96, 96);

}
.portrait{
    height: 300px;
    width: 250px;
    top: 50%;
    left: 82%;
    margin-top: -150px;
    margin-left: -125px;
    position: absolute;
    background-image: url(../IMG_2176\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 25px;
}

.about-cntnr{
    /* margin-top: 8%; */
    /* display: table-row; */
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 35px;
    max-width: 70%; 
   
}


/* Start all of the resume containers*/
.resume-row{
    width: 100%;
    max-height: contain;
    overflow: hidden;
    /* min-height: 50vh; */
    /* background-color: white; */
    padding-bottom: 3.5%;
    border-bottom: 2px solid rgb(213, 212, 212);
}
.resume-col{
    overflow: hidden;
    background-color: whitesmoke; 
    /* border: 1px solid transparent; */
    /* min-height: 55vh; */
    margin-top: -1px;
    max-height:fit-content; 
    padding-top: 3.5%; 
}
.resume-col.end{
    padding-bottom: 3%; 
}
.resume-row.end{
    border-bottom: 0px solid rgb(213, 212, 212);
    padding-bottom: 0%;
}
/* End resume containers */

.project-col{
    overflow: hidden;
    background-color: #B35B67; 
    /* border: 1px solid transparent; */
    /* min-height: 55vh; */
    margin-top: -1px;
    max-height:fit-content; 
    padding-top: 3.5%; 
}
.proj-thumbnail{
    border-radius: 5px;
    display: block;
    margin:auto;
    height: 200px; 
    width: 80%;
    background-color: green;
    margin-bottom: 30px;
}
.proj-thumbnail--end{
    border-radius: 5px;
    display: block;
    margin:auto;
    height: 200px; 
    width: 80%;
    background-color: green;
    margin-bottom: 55px;
}
div.project-row{
    margin: auto;   
}
.proj-thumbnail.WW{
    background-image: url(../WW2.webp);
    background-size: cover;
    background-position: center;
}
.proj-thumbnail.SS{
    background-image: url(../my_spreadsheet.png);
    background-size: cover;
    background-position: left;
}
.proj-thumbnail.Smile{
    background-image: url(../smile.png);
    background-size: cover;
    background-position: center;
}
.proj-thumbnail.STP{
    background-image: url(../stp.png);
    background-size: cover;
    background-position: center;
}
/* .mask{
    height: inherit;
    width: 100%;
    background-color: rgb(203, 170, 156);
    border: 5px solid black;
    opacity: 0.3;
}
.mask:hover{
    opacity: 0;
} */
@media screen and (max-width: 991px){
    .proj-thumbnail{
        width: 200px;
    }
    .proj-thumbnail--end{
        width: 200px;
    }
}
@media screen and (max-width: 768px){
    
    div.project-row{
        margin-left: 24px;   
    }
}
@media screen and (max-width: 575px){
    div.project-row{
        margin-left: 0px;   
    }
    .proj-thumbnail{
        width: 75%;
    }
    .proj-thumbnail--end{
        width: 75%;
    }
}

/* Start actual resume text and info. */
.resume-title{
    min-height: fit-content;
    width: 100%;
    margin-bottom: 4px;
}
.resume-title-label{
    padding-top: 8px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid rgb(225, 41, 41);
    padding-bottom: 3px;
    max-width: fit-content;
}
.resume-body{
    /* background-color: lavender; */
    min-height: fit-content;
    text-align: left;
    width: 100%
}
.resume-body-title{
    font-size: 30px;
    font-weight: 600;
}
.resume-body-subscript{
    margin-top: 2px;
    font-size: 16px;
    margin-bottom: 18px;

}
.resume-body-text{
    margin-bottom: 30px;
    text-align: left;
}
/* End resume text and info. */
 

@media screen and (max-height: 500px){
    .header-text{
        margin-top: -20px;
    }
}

@media only screen and (max-width: 425px){
    .header-text{
        margin-bottom: 10px;
        /* padding: 10px; */
        font-size: 35px;
    }
}

@media screen and (max-width: 870px){
    .portrait{
        display: none;
    }
    .about-cntnr{
        max-width: 100%; 
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

@media screen and (max-width: 768px){
    .col-sm-3 {
        flex: 0 0 50%;
        min-width: 100%;
    }
    .col-sm-9 {
        flex: 0 0 50%;
        min-width: 100%;
    }
    /* .col-sm-4 {
        flex: 0 0 50%;
        min-width: 100%;
    } */

    .resume-title{
        padding: 25px;
    }
    .resume-title-label{
        font-size: 18px;
        display: block;
        margin: auto;
    }
    .resume-body{
        text-align: center;
    }
    .resume-body-title{
        font-size: 26px;
    }
} 


.dwnld-icon{
    height: 15px;
    width: 15px;
    background-image: url(../arrow_dwnld.svg);
    background-size: cover;
    display: inline-block;
    margin: 2px 5px -0.5px 5px;
}
.download-link.btn.btn-danger{
    /*styles for dwnld resume btn*/
    padding: 5px;
    font-size: 18px;
    margin: 5px;
    background-color: #B46A83;
    border: 1px solid #B46A83;
    /* color: rgb(206, 45, 45); */
}
.download-link.btn.btn-danger:hover{
    background-color: rgb(237, 237, 237);
    color: #B46A83;
    border-color: transparent;
}

/* @media screen and (min-width: 1280px){
    .resume-title-label{
        font-size: 20px;
    }
} */

@media screen and (max-width: 768px){
    .resume-row{
        padding-bottom: 50px;   
    }
}


div.progress{
    height: 30px;
}
div.progress-bar {
    background-color: rgb(167, 35, 35);
}