/** TODO :: media screen margin-top adjustments*/
.my-container{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-height: fit-content;
    min-height: 100vh;
    text-align: center;
    /* height: 100vh; */
    font-size: 12pt;
    /* background-color: rgb(160, 115, 115); */
    color: black;
}

.outter-about{
    width: 100%;
    background-color: red;
}

.header-text{
    padding-top: 6%;
    margin-bottom: 5%;
    /* padding: 10px; */
    font-size: 35px;
}

@media only screen and (max-width: 425px){
    .header-text{
        padding-top: 35%;
        margin-bottom: 10%;
        /* padding: 10px; */
        font-size: 35px;
    }
    .text{
        /* font-size: 15px; */
    }
}

