
.tab{
    background-color: whitesmoke;
}

.nav-tabs>li>a:active{
    color: blue;
}
.nav-tabs>li>a{
    border-radius: 2px solid;
}

.nav.nav-tabs > li.dropdown.active.open > a:active, 
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a, 
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: blue;
  background-color: #dad6d8;
  border-color: #fff;
}
.nav.nav-tabs > li.dropdown.open > a:focus {
    background-color: red;
}
.dropdown-toggle{
    color: black;
}
.nav-tabs>li>a{
    height: 50px;
}