.Home{
    width: 100%;
    max-height: 100%;
   /*background-color: blue;*/
    background-image: linear-gradient(top,rgb(230, 193, 31),rgb(250, 186, 114),rgb(250, 186, 114),rgb(23, 172, 164),rgb(23, 172, 164),rgb(250, 186, 114)); 
    background-attachment:absolute;
    color: white;
    display: block; 
}
.Anim-home{
    height: 200px; 
    width: 100%;
    background-color: blue;
}

