.Home{
    width: 100%;
    height: 85vh;
   /*background-color: blue;*/
   /* background-image: linear-gradient(top,rgb(230, 193, 31),rgb(250, 186, 114),rgb(250, 186, 114),rgb(23, 172, 164),rgb(23, 172, 164),rgb(250, 186, 114));  */
   /* background-attachment:absolute; */
    color: white;
    display: block; 
    margin-top: -100px;
}
/* .Anim-home{
    height: 200px; 
    width: 100%;
    background-color: blue;
} */

/* small width of window (less than half screen) */
@media screen and (max-width: 375px) and (max-height: 815px){
    .Home{
       height: 59.5vh;
    }
}

/* small width of window (less than half screen) */
@media screen and (max-width: 375px) and (max-height: 670px){
    .Home{
       height: 72.5vh;
    }
}