.Intro{
    padding: 15px;
    padding-bottom: 0px;
    height: 100vh;
    width: 100%;
    /* position: fixed; */
}

div.my-headshot{
    /* margin-bottom: 0px; */
    /* align-self: center; */
    max-width: 100%;
    height: 85vh;
    /* background-image: url('../IMG_2176 2.jpg'); */
    background-size: 74vh;
    background-repeat: no-repeat;
    background-position: center;
}

div.header{
    font-size: 10vh;
    color: rgb(26, 26, 26);
}

div.footer{
    font-size: 4vh;
    color: rgb(74, 74, 74);
}


@media only screen and (max-width: 640px){
    div.header{
        font-size: 6vh;
    }
    div.footer{
        font-size: 2.5vh;
    }
}
