.Intro{
    width:100%;
    height: 515px;
    overflow: hidden;
    /*background-color: rgb(221, 194, 194);*/
    /* border-top: 1px solid rgb(221, 194, 194); */
}

.myBanner-box{
    /*background-color: rgb(221, 194, 194);*/
    width: 100%;
    height: 500px;
    size: contain;
    position: relative;
    background-image: url('../ZaneHeadshot.jpg');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top center;
    background-attachment:fixed;
    overflow: hidden;
}
.banner-mbox{
    width: 500px;
    height:400px;
    left: 50%;
    top: 50%;
    margin-left:-250px;
    margin-top: -475px;
    position: absolute;
    /* background-image: url('../circle-img-2.png'); */
    background-size: 500px;
    background-repeat: no-repeat;
    
}
.banner-fbox{
    left: 50%;
    top: 0%;
    margin-left: -80px;
    margin-top: -290px;
    width: 200px;
    height: 200px;
    /* background-image: url('../circle-image-3.png'); */
    background-size: 150px;
    background-repeat: no-repeat;
    position: absolute;
    
}
