.Intro{
    padding: 15px;
    padding-bottom: 0px;
    height: contain;
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
}

div.my-headshot{
    height: 80vh;
    align-self: center;
    max-width: 100%;
    background-image: url('../IMG_2176.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

div.header{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10vh;
    color: rgb(26, 26, 26);
}

div.footer{
    font-size: 4vh;
    color: rgb(74, 74, 74);
}

/* all mobile device portrait dimensions */
@media only screen and (max-width: 475px){
    div.my-headshot{
        height: 50vh;
    }
}

/* iPhone X portrait dimensions*/
@media only screen and (max-width: 380px) and (max-height: 825px){
    div.my-headshot{
        height: 45vh;
    }
}