/* .my-navbar--false{
    top: 0;
    margin: 0;
    height: 70px;
    border-radius: 0px;
    background-color: transparent;
   
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.25);
}
*/

.my-navbar--false{
    margin-top: 25px;
    top: 0;
    /* margin-top: 20px; */
    border-radius: 0px;
    background-color: transparent;
    /* box-shadow: 0 3px 10px 1px rgba(0,0,0,0.25); */
}

.my-navbar--true{
    padding: 0px;
    top: 0;
    margin-top: 25px;
    /* height: 70px; */
    border-radius: 0px;
    background-color: #e2eef4;
    box-shadow: 0 3px 10px 1px rgba(0,0,0,0.25);
}


.nav-link{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
} 

@media only screen and (max-width: 480px){
    .nav-link{
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media only screen and (max-width: 360px){
    .nav-link{
        font-size: 16px;
    }
}