
/**************************************/
.Projects-container{
    width: 100%;
    height: 400px;
   /* background-color: rgb(221, 194, 194);*/
    position: relative;
}

.Projects{
    position: absolute;
}
.title-parent{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
}
.title-container{
    display: inline-block;
    font-size: 60pt;
    margin-right: 12px;
    margin-bottom: 15px;

}
.t{
    display: inline-block;
}
.pro{
    display: block;
    margin: auto;
    width: 250px;
    left: 20%;
    top: 18%;
    position: absolute;
}

/************************************/
.P-enter{
    transform: translateY(-50px);
    color:black;
}
.P-enter-done{
    transform: translateY(0px);
    transition: all 300ms ease-in;
    position: relative;
    color:black;
}
.R-enter{
    transform: translateY(50px);
    color:black;
}
.R-enter-done{
    transform: translateY(0px);
    transition: all 300ms ease-in;
    position: relative;
    color:black;
}
/************************************/
.content-container{
    width: 100%;
    height: 450px;
}
.content-enter{
    opacity: 0;
}
.content-enter-done{
    opacity: 1;
    transition: opacity 250ms linear;
    transition-delay: 250ms;
}

.project-card{
    width: 250px;
    height: 115px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px;
    display: inline-block;
}

.row{
    display: block;
    text-align: center;
    margin: auto;
    width: 700px;
}

.pro-col{
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(155, 151, 151) ;
    background-color: rgb(243, 240, 240);
    height: 180px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 6px;
    text-align: left;
    padding: 10px;
    font-size: 12pt;
}
.pro-col:hover{
    border: 1px solid black;
}

.my-hr{
    width: 500px;
    height: 1px;
    background-color: black;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.description{
    display: block;
    margin: auto;
    margin-top: 3%;
    width: 98%;
    height: 60%;
    background-color: transparent;
    font-size: 10pt;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a{
    color: rgb(61, 61, 224);
    font-size: 14pt;
    font-weight: 600;
}
.dot{
    margin-top:5px;
    width: 12px;
    height: 12px;
    background-color: blue;
    clip-path: circle(6px at center);
    display: inline-block;
    margin-right: 10px;
}
.dot.java{
    background-color: rgb(228, 228, 77);
}
.dot.react{
    background-color: rgb(73, 73, 231);
}
.dot.python{
    background-color: rgb(54, 163, 50);
}
.dot-text{
    display: inline-block;
    color: black;
}
.dot-parent{
    margin-top: 2px;
    background-color: transparent;
}