.App{
  justify-content: center;
  background-image: url(./desolate.svg); /*linear-gradient(left, #4b79a1,#283e51 );*/
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  text-align: center;
  background-repeat: no-repeat;
  background-color: rgb(232, 209, 209); /* rgb(71, 123, 132); */
  background-blend-mode: color-burn;
  font-family: 'Merriweather', serif;
  /* overflow: hidden; */
  /* min-height: fit-content; */
  /* display: flex; */
}

.endbar{
  width: 100%;
  height: 110px; 
  background-color:rgb(19, 15, 15);
}

.down-icon{
  width: 32px;
  height: 32px;
  position: absolute;
  filter: brightness(2.5);
  background-image: url(./arrow_d.svg);
  background-size: cover;
  top: 92%;
  left: 50%; 
  margin-left: -16px;
}
.down-icon:hover{
  filter: brightness(3.0);
}

@media only screen and (max-height: 450px){
  .down-icon{
    top: 89%;
  }
}
.up-icon{
  width: 44px;
  height: 44px;
  position: absolute;
  filter: brightness(2.5);
  background-image: url(./arrow_u.svg);
  background-size: cover;
  margin-top: -22px;
  left: 50%; 
  margin-left: -22px;
}
.up-icon:hover{
  filter: brightness(3.0);
}

@media screen and (min-width: 1200px){
  .icon{
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
