.App{
  justify-content: center;
  background-image: url(../src/layer-170971.jpg); /*linear-gradient(top, whitesmoke, rgb(53, 177, 227)); */
  background-size: cover;
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  /* display: flex; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


